.info-box-wrapper{
    background-color: #6C88CC;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 57px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -17px rgba(0,0,0,0.75);
}

.back-arrow{
    transition: all linear 150ms;
}

.back-arrow:hover{
    transform: scale(1.2);
    transition: linear 150ms;
    cursor: pointer;
}


.table tr:hover{
    cursor: pointer !important;
}
