.info-box-wrapper{
    background-color: #6C88CC;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 57px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -17px rgba(0,0,0,0.75);
}
